<a href="https://colab.research.google.com/github/marsani/marsani_asfi/blob/machine-learning/praktikum02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import csv
dataset ="/content/drive/My Drive/Machine Learning/dataset/Persentase Perokok RI.csv"
with open(dataset) as inisial_file:
  baca_file=csv.reader(inisial_file,'excel')
  for baris in baca_file:
    print(baris)

['Provinsi', '2015', '2016']
['ACEH', '29.82', '28.16']
['SUMATERA UTARA', '29.15', '27.88']
['SUMATERA BARAT', '32.41', '30.59']
['RIAU', '31.21', '29.61']
['JAMBI', '30.82', '29.18']
['SUMATERA SELATAN', '33.13', '31.57']
['BENGKULU', '33.68', '33.15']
['LAMPUNG', '34.12', '33.39']
['KEP. BANGKA BELITUNG', '30.70', '29.32']
['KEP. RIAU', '29.18', '29.25']
['DKI JAKARTA', '27.31', '26.42']
['JAWA BARAT', '33.82', '32.67']
['JAWA TENGAH', '28.57', '27.19']
['DI YOGYAKARTA', '24.12', '23.11']
['JAWA TIMUR', '29.03', '28.16']
['BANTEN', '32.95', '31.64']
['BALI', '22.96', '21.62']
['NUSA TENGGARA BARAT', '31.60', '30.88']
['NUSA TENGGARA TIMUR', '25.47', '24.91']
['KALIMANTAN BARAT', '29.35', '28.09']
['KALIMANTAN TENGAH', '30.53', '29.21']
['KALIMANTAN SELATAN', '25.76', '25.34']
['KALIMANTAN TIMUR', '25.59', '25.23']
['KALIMANTAN UTARA', '28.61', '28.38']
['SULAWESI UTARA', '29.31', '29.23']
['SULAWESI TENGAH', '32.56', '31.88']
['SULAWESI SELATAN', '25.49', '25.13']
['SULAWESI TENGGARA', '28.49', '27.60']
['GORONTALO', '33.93', '31.71']
['SULAWESI BARAT', '28.29', '27.36']
['MALUKU', '27.19', '25.68']
['MALUKU UTARA', '31.14', '30.23']
['PAPUA BARAT', '29.28', '26.18']
['PAPUA', '26.67', '24.04']

In [7]:
import pandas as pd
dataset=pd.read_csv("/content/drive/My Drive/Machine Learning/dataset/Persentase Perokok RI.csv")
dataset

                Provinsi   2015   2016
0                   ACEH  29.82  28.16
1         SUMATERA UTARA  29.15  27.88
2         SUMATERA BARAT  32.41  30.59
3                   RIAU  31.21  29.61
4                  JAMBI  30.82  29.18
5       SUMATERA SELATAN  33.13  31.57
6               BENGKULU  33.68  33.15
7                LAMPUNG  34.12  33.39
8   KEP. BANGKA BELITUNG  30.70  29.32
9              KEP. RIAU  29.18  29.25
10           DKI JAKARTA  27.31  26.42
11            JAWA BARAT  33.82  32.67
12           JAWA TENGAH  28.57  27.19
13         DI YOGYAKARTA  24.12  23.11
14            JAWA TIMUR  29.03  28.16
15                BANTEN  32.95  31.64
16                  BALI  22.96  21.62
17   NUSA TENGGARA BARAT  31.60  30.88
18   NUSA TENGGARA TIMUR  25.47  24.91
19      KALIMANTAN BARAT  29.35  28.09
20     KALIMANTAN TENGAH  30.53  29.21
21    KALIMANTAN SELATAN  25.76  25.34
22      KALIMANTAN TIMUR  25.59  25.23
23      KALIMANTAN UTARA  28.61  28.38
24        SULAWESI UTARA  29.31  29.23
25       SULAWESI TENGAH  32.56  31.88
26      SULAWESI SELATAN  25.49  25.13
27     SULAWESI TENGGARA  28.49  27.60
28             GORONTALO  33.93  31.71
29        SULAWESI BARAT  28.29  27.36
30                MALUKU  27.19  25.68
31          MALUKU UTARA  31.14  30.23
32           PAPUA BARAT  29.28  26.18
33                 PAPUA  26.67  24.04

In [11]:
import pandas as pd
dataset=pd.read_csv("/content/drive/My Drive/Machine Learning/dataset/Persentase Perokok RI.csv")
dataset

                Provinsi   2015   2016
0                   ACEH  29.82  28.16
1         SUMATERA UTARA  29.15  27.88
2         SUMATERA BARAT  32.41  30.59
3                   RIAU  31.21  29.61
4                  JAMBI  30.82  29.18
5       SUMATERA SELATAN  33.13  31.57
6               BENGKULU  33.68  33.15
7                LAMPUNG  34.12  33.39
8   KEP. BANGKA BELITUNG  30.70  29.32
9              KEP. RIAU  29.18  29.25
10           DKI JAKARTA  27.31  26.42
11            JAWA BARAT  33.82  32.67
12           JAWA TENGAH  28.57  27.19
13         DI YOGYAKARTA  24.12  23.11
14            JAWA TIMUR  29.03  28.16
15                BANTEN  32.95  31.64
16                  BALI  22.96  21.62
17   NUSA TENGGARA BARAT  31.60  30.88
18   NUSA TENGGARA TIMUR  25.47  24.91
19      KALIMANTAN BARAT  29.35  28.09
20     KALIMANTAN TENGAH  30.53  29.21
21    KALIMANTAN SELATAN  25.76  25.34
22      KALIMANTAN TIMUR  25.59  25.23
23      KALIMANTAN UTARA  28.61  28.38
24        SULAWESI UTARA  29.31  29.23
25       SULAWESI TENGAH  32.56  31.88
26      SULAWESI SELATAN  25.49  25.13
27     SULAWESI TENGGARA  28.49  27.60
28             GORONTALO  33.93  31.71
29        SULAWESI BARAT  28.29  27.36
30                MALUKU  27.19  25.68
31          MALUKU UTARA  31.14  30.23
32           PAPUA BARAT  29.28  26.18
33                 PAPUA  26.67  24.04

In [12]:
dataset.head()

         Provinsi   2015   2016
0            ACEH  29.82  28.16
1  SUMATERA UTARA  29.15  27.88
2  SUMATERA BARAT  32.41  30.59
3            RIAU  31.21  29.61
4           JAMBI  30.82  29.18

In [14]:
dataset.shape

(34, 3)

In [18]:
dataset.isnull().sum()

Provinsi    0
2015        0
2016        0
dtype: int64

In [22]:

dataset.max()

Provinsi    SUMATERA UTARA
2015                 34.12
2016                 33.39
dtype: object

In [23]:
dataset.min()

Provinsi     ACEH
2015        22.96
2016        21.62
dtype: object